/*@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
*{
    margin: 0;
    padding: 0;
}
body{
 
	font-family: "Times New Roman";
    background-color: #f9f9f9;
    background-image:  linear-gradient(#d6d6d6 1px, transparent 1px), linear-gradient(to right, #d6d6d6 1px, #f9f9f9 1px);
    background-size: 25px 25px;
}
.mainBox{
    width: 320px;
    height: 440px;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    
    border-radius: 4px;
    background-color: white;
    border: solid 2px #ababab;

    box-shadow: 6px 6px 10px 4px #e9e9e9;
    /*x값 y값 블러 sapa*/
}
.logo{
    font-size: 38PX;
    font-weight: Bold;
    color: #363636;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
#logoSignIn{
    font-size: 18px;

    position: absolute;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
}
.id{
}
.idBox{
    width: 240px;
    height: 46px;

    position: absolute;
    top: 39%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px;
    background-color: #f9f9f9;
    border: solid 1px #ababab;
}
.idInputText{
    font-size: 18px;
    color: #6d6d6d;
    
    padding: 12px;
}
.pw{

}   
.pwBox{
    width: 240px;
    height: 46px;

    position: absolute;
    top: 51.5%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px;
    background-color: #f9f9f9;
    border: solid 1px #ababab;
} 
.pwInputText{    
    font-size: 18px;
    color: #6d6d6d;

    padding: 10px;
}  
.signUp{
    font-size: 18px;
    color: #9454d4;

    position: absolute;
    top: 63%;
    left: 64%;
}
.signInBT{
    width: 240px;
    height: 46px;

    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px;
    background-color: #C4A0E9;
    border: solid 1px #ababab;
}
#signInBTText{
    font-size: 20px;
    text-align: center; 

    padding: 12px;
}
