/*@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
*{
    margin: 0;
    padding: 0;
}
body{
 
	font-family: "Times New Roman";
    background-color: #f9f9f9;
    background-image:  linear-gradient(#d6d6d6 1px, transparent 1px), linear-gradient(to right, #d6d6d6 1px, #f9f9f9 1px);
    background-size: 25px 25px;
}

/*사이드*/

/*사이드 로고*/
nav{

}
.logoBox{
    width: 130px;
    height: 100px;

    position: absolute;
    top: 12%;
    left: 11%;
    border: solid 1px #707070;
    
    border-radius: 5px;

    background-color: rgba( 255, 255, 255, 0.6 );
}
.logo{
    font-weight: Bold;
    color: #363636;
    text-align: right;
    font-size: 33px;

    margin: 10px 20px 5px 10px;
}

/*사이드 메뉴*/
.menuNav{
    position: absolute;
    top: 30%;
    left: 14.8%;
}
.menu1 img{
    width: 60px;
    height: 60px;
    
    opacity: 0.6;
    filter: drop-shadow(4px 6px 4px #dbdbdb)
}
.menu2 img{
    width: 60px;
    height: 60px;

    margin-top: 30PX;
    
    opacity: 0.6;
    filter: drop-shadow(4px 6px 4px #dbdbdb)
}
.menu3 img{
    width: 60px;
    height: 60px;
    
    margin-top: 30PX;
    
    opacity: 0.6;
    filter: drop-shadow(4px 6px 4px #dbdbdb)
}

/*메인 박스*/

section{

}
.mainBox{
    width: 850px;
    height: 510px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    background-color: white;

    
    border-radius: 5px;
    
    box-shadow: 6px 6px 10px 4px #e9e9e9;

    border: solid 1px #707070;
}

/*이름 이미지*/
.mainName img{
    width: 22%;
    height: 22%;
    margin-left: 2.5%;
    margin-top: 3%;
}

/*월 선택*/
.monthBtn{
    margin-top: 2.3%;
}
#monthBtnTop{
    display: flex;

    margin-left: 2%;
}
#monthBtnTop li{
    margin-left: 0.5%;

    list-style-type: none;
}
#monthBtnBottom{
    display: flex;

    margin-left: 3.5%;
}
#monthBtnTop img{
    width: 95%;
}
#monthBtnBottom li{
    margin-left: 0.5%;

    list-style-type: none;
}
#monthBtnBottom img{
    width: 95%;
}


#line{
    width: 22%;
    height: 2.5px;

    position: absolute;
    top: 37%;
    left: 2.5%;

    border-bottom: solid 1.6px #b7b7b7;
}
#line2{
    width: 22%;
    height: 2.5px;

    position: absolute;
    top: 38.5%;
    left: 2.5%;

    border-bottom: solid 1.6px #b7b7b7;
}

.teamBox{

    margin-top: 5%;
    margin-left: 2.5%;
}
.item{

    width: 22.4%;
    height: 30px;

    margin-top: 1%;
    border: solid 1.6px #b7b7b7;
    background-color: #fdfdfd;
}


.rightMenu{
    position: absolute;
    left: 27%;
    top: 3%;
}
/*요일*/
.weekly{
    float: right;


}
.weekly img{
    width: 12.4%;
    margin-left: 0.65%;
    margin-right: 0.65%;
    -webkit-filter: drop-shadow(0.5px 0.5px 0 #b7b7b7)
                    drop-shadow(-0.5px -0.5px 0 #b7b7b7);
    filter: drop-shadow(0.8px 0.8px 0 #b7b7b7) 
            drop-shadow(-0.3px -0.3px 0 #b7b7b7);
}
.wrapper{
    position: absolute;
    left: 27%;
    top: 20%;
}


























/*사이드바 날짜*/

.date{
    width: 11%;
    height: 11.2%;

    position: absolute;
    top: 12%;
    left: 80.2%;

    background-color: white;
    border: solid 1px #707070;
    border-radius: 16px;

    box-shadow: 6px 6px 10px 4px #e9e9e9;
}


/*사이드바 투두*/

.todo{
    
    display: flex;

    width: 11%;
    height: 5.7%;

    position: absolute;
    top: 26%;
    left: 80.2%;

    z-index: 1;

    background-color: white;
    border: solid 1px #707070;
    
    border-radius: 16px;

    box-shadow: 6px 6px 10px 4px #e9e9e9;

}
#todoText{
    
    display: flex;
    
    flex-direction: row-reverse;

    font-size: 20px;
    color: #363636;
    text-align: left;

    margin-top: 6%;
    margin-left: 8%;
}
.todo img{
    display: flex;
    flex-direction: row-reverse;

    width: 15%;
    height: 30%;

    margin-top: 9%;
    margin-left: 12%;
}
.todoUnder{
    width: 11%;
    height: 51.8%;

    position: absolute;
    top: 26%;
    left: 80.2%;

    background-color: white;
    border: solid 1px #707070;
    
    border-radius: 16px;

    opacity: 0.55;
    box-shadow: 6px 6px 10px 4px #e9e9e9;
}